html,
body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 92px 0 72px;
}
ul {
  list-style-type: none;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  grid-column-gap: 20px;
  text-transform: capitalize;
}
li {
  font-weight: 300;
  color: #8a8a8a;
  cursor: pointer;
}
li:hover {
  color: #000000;
  font-weight: 700;
}
.apply {
  width: 131px;
  height: 51px;

  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #42c3ff;
  outline: none;
  border: none;
}
.apply:hover {
  width: 131px;
  height: 51px;
  border: 1px solid #c4c4c4;

  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
}
.Exponetially {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px 70px 0 103px;
}
.Exponetially_Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
  max-width: 518px;
}
.describe {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
  max-width: 399px;
}
.button_group {
  margin-top: 49px;
  display: flex;
  grid-column-gap: 26px;
}
.group_button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  background: #42c3ff;
  border-radius: 6px;
  width: 115px;
  height: 39px;
  outline: none !important;
  border: none;
  text-transform: capitalize;
}
.group_button:hover {
  border: 1px solid #c4c4c4;

  color: #42c3ff;
  background: #fff;
}
.item_group {
  display: flex;
  grid-gap: 33px;
  margin-top: 68px;
}
.item_group p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}
.item_group div {
  display: flex;
  grid-gap: 19px;
}
.Opportunities {
  background: rgba(248, 248, 248, 0.43);
  margin-top: 127px;
  padding: 117px 83px 150px 102px;
}
.Opportunities_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.Opportunities_Group {
  margin-top: 92px;
  display: flex;
  grid-gap: 80px;
}
.Card {
  width: 365px;
  height: 337px;
  background: #ffffff;
  box-shadow: 0px 21px 50px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-gap: 24px;
  color: #000000;
}
.Card_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.Card_detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  max-width: 339px;
}
.blue {
  background: #42c3ff !important;
  color: white !important;
}
.crafted {
  margin-top: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 121.57px;
}
.crafted_content {
  display: flex;
  flex-direction: column;
}
.crafted_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  max-width: 483px;
  color: #000000;
}
.crafted_content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  margin-top: 28px;
  color: #000000;
  margin-bottom: 42px;
  max-width: 399px;
}
.aboutUs {
  margin-top: 165px;
  padding: 0 173px 0 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutUs_title {
  max-width: 386px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
}
.aboutUs_content {
  display: flex;
  justify-content: center;
  grid-gap: 112px;
}
.aboutUs_item {
  display: flex;
  flex-direction: column;
  grid-gap: 23px;
}
span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}
.aboutUs_item span:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36.6667px;
  line-height: 55px;
  color: #42c3ff;
}
.slider {
  background: linear-gradient(
    101.49deg,
    rgba(66, 195, 255, 0.06) 26.03%,
    rgba(66, 195, 255, 0.13) 105.19%
  );
  display: flex;
  justify-content: center;
  grid-gap: 32px;
  padding: 117px 0;
  margin-top: 139px;
}
.slider_card {
  width: 373px;
  height: 245px;

  background: #ffffff;
  border-radius: 10px;
  padding: 44px 31px 45px 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider_card:hover {
  transform: scale(1.1);
  transition: all 0.95s;
  margin-top: -50px;
}
.detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 25px;
}
.detail_info {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
}
.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.job {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #c4c4c4;
}
#mark {
  display: flex;
  justify-content: center;
  margin-top: 9px;
}
.slider_detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-top: 29px;
  color: #292d32;
  max-width: 309px;
}
.footer {
  padding: 114px 163px 53px 127px;

  display: flex;
  justify-content: space-between;
}

.footer_description {
  margin-top: 49px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  max-width: 277px;
  color: #000000;
}
.icon_group {
  margin-top: 47px;
  display: flex;
  grid-gap: 44px;
}

.site_detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  padding: 53px 0 83px 127px;
}
.footer_list {
  font-family: "Poppins";
  font-style: normal;
  line-height: 27px;
  display: list-item !important;
  padding-inline-start: 0px !important;
}
.footer_list li:first-child {
  font-weight: 700;
  font-size: 18px;
  color: #000000 !important;
  margin-top: 0px !important;
}
.footer_list li {
  font-weight: 400;
  color: #000000 !important;
  font-size: 16px;
  margin: 15px 0 !important;
}
